<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href="assets/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="{% static 'styles/style.css' %}" rel="stylesheet"/>
    <title>StudyBuddy - Find study partners around the world!</title>
</head>

<body>
{% include 'navbar.html' %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% block content %}

{% endblock %}

<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
